# Basics

In [16]:
321313113545 + 35446444646464

35767757760009

In [17]:
65551656 - 545544 # substrarticion

65006112

In [18]:
923 * 10 # normal multiplication

9230

In [19]:
1000 / 23 # normal division

43.47826086956522

In [20]:
10 ** 3 # exponential value

1000

In [21]:
100 // 33 # integer division

3

In [22]:
100 % 23 # MODULUS (remiander)

8

In [23]:
"Hi" + "evereyone" # concatination

'Hievereyone'

In [24]:
"Ha" * 10 # Duplication

'HaHaHaHaHaHaHaHaHaHa'

In [25]:
[0] * 10 # List item duplication

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# varaible in python

In [1]:
name = "Bilal Mirza"

In [2]:
a = 10
b =7

In [3]:
first_name = "Ajay"

In [4]:
a = 123456

In [5]:
a = 'Zero'

In [6]:
a = False

# Operators
- ### Arithmetic 
- ### Comparison
- ### Assignment
- ### Logical
- ### Bitwise (skipped)
- ### Membership
- ### identity

In [15]:
a,b = 10,7

In [16]:
a + b

17

In [17]:
a * b

70

In [18]:
a / b # float division

1.4285714285714286

In [19]:
a - b

3

In [20]:
a // b # integer division

1

In [21]:
a % b

3

In [22]:
a >=b

True

In [23]:
a <=b

False

In [24]:
a !=b

True

In [26]:
a % 2 == 0

True

In [27]:
b % 2 ==0

False

In [28]:
x = a + 10

In [33]:
x += 10 # add whatever is in x with 10 and store in x

In [30]:
x -= 5

In [31]:
x //= 10

In [32]:
x **=14

In [34]:
a > b and a > 4

True

In [35]:
b > a or b < 5

False

In [37]:
 not (a > b)

False

In [38]:
len(name)

11

In [40]:
not len(name) >= 11

False

In [42]:
msg = "This is a very simple message"

In [43]:
'very' in msg

True

In [44]:
'complex' in msg

False

In [48]:
colors =['red' , 'blue' , 'green']

In [49]:
'red' not in colors

False

In [50]:
'yellow' in colors

False

 # 01 - FEB - 2022

# Data Type

# Integers

In [1]:
x = 1
y = 3565622225548887711
z= -3338747473

# Floats

In [2]:
x = 1.10
y = 1.0
z = - 35.59
z = 87.7e100

In [3]:
type(x)

float

# Strings

In [4]:
name = "bruce wayne 01"
color = "yellow"
Institute = 'digipodium'

# Boolean

In [5]:
is_coding =  True
is_fun = True
are_u_bored = False

# None

In [6]:
x = None

# Special Data Type

# List

In [7]:
a = [5,10,15,20,25,30,35,40]
vals = [1,2.2,'python']
color =['red','green','yellow']

# Tuple

In [8]:
a = (5,10,15,20,25,30,35,40)
vals = (1,2.2,'python')
color =('red','green','yellow')

# Set

In [9]:
a = {5,10,15,20,25,30,35,40}
vals = {1,2.2,'python'}
color ={'red','green','yellow'}

# Dictionary

In [12]:
car_info = {
    "brand": "Ford",
     "model": "Mustang",
    "year": 1964}

# Input

In [2]:
hero = input('who is your fav hero?')

In [14]:
name = input('enter your name :')
age = input ('enter your age :')
school =input('enter your school name')

In [6]:
age = input('enter your age')
age = int(age)

In [7]:
x ='100'
y='-90'

In [8]:
x + y

'100-90'

In [9]:
x = int(x)
y = int(y)

In [10]:
x + y

10

In [19]:
z = 1.232
z1 = int(z)

int

In [31]:
z

1.232

In [32]:
type(z)

float

In [33]:
z1

1

In [34]:
type(z1)

int

In [12]:
print("One can believe in a story without believing it happened")

One can believe in a story without believing it happened

In [13]:
print('Brandon Sanderson','Oathbringer')

Brandon Sanderson Oathbringer

In [15]:
name = 'Harry potter'

In [16]:
name

'Harry potter'

In [17]:
print(name)

Harry potter

In [20]:
print(1,2,3,4)

1 2 3 4

In [21]:
print(1,2,3,4,sep='*')

1*2*3*4

In [26]:
print(1,2,3,4,sep='#',end='&')

1#2#3#4&

# The f strings

In [28]:
qty = 10
fruit ='apple'

print('i will purchase',qty,fruit,'today')

i will purchase 10 apple today

In [29]:
name = "digipodium"
type_of_company ="educational"

# enlcoseyour variable within the {}
# to display it's value in the output
print(f"{name} is an {type_of_company} company.")

digipodium is an educational company.

In [30]:
print(f"i will purchase {qty} {fruit} today")

i will purchase 10 apple today

# Building logic with if

In [2]:
print('you see a apple seller')
q = input('do you like apples ?')

if q == 'yes' :
    print('purchase 2kg of apples')
if q == 'no' :
    print('you dont purchase apples')

you see a apple seller
you dont purchase apples

In [5]:
card = input("enter ur credit card number:")
if len(card) == 16:
    print("you are hacked")
if len(card) < 16:
    print("unacceptable")

unacceptable

In [6]:
x = 10
if x > 5:
    print('x is graeter than 5')
    print('this is the info we needed')
    print('with this power, comes great responsibilty')
print('the end')

x is graeter than 5
this is the info we needed
with this power, comes great responsibilty
the end

# Building logic with if else

In [8]:
temp = float(input('What is the temperature?'))
if temp > 70:
    print('Wear shorts.')
else:
    print('Wear long pants.')
print('Get some exercise outside.')

Wear long pants.
Get some exercise outside.

# Building logic with if_elif_else

In [9]:
score = int(input('your score'))
if score >= 90 :
    letter = 'A'
elif score >= 80 :
    letter = 'B'
elif score >=70 :
    letter = 'C'
elif score >=60 :
    letter = 'D'
elif score >=50 :
    letter = 'E'
else :
    letter = 'F' 
print (letter)

D

# Compound Statement

In [12]:
city = input("Capital of UP")
if city == "lucknow" :
    print("Correct")
else :
    print("incorrect")

Correct

In [20]:
#one-liner Alternative :
city = input("Capital of UP")
print("Correct") if city == "lucknow" else print("incorrect")

incorrect

In [14]:
#one-Liner Alternative 1 :
if 42 in range(100): print("42")

42

In [16]:
#one-Liner Alternative 2 :
x = "Alice" if "Jon" in " My name is Jonas" else "Bob"
print(x)

Alice

In [17]:
#one-Liner Alternative 3 :
print("42") if 42 in [22,33,42] else print("21")

42