# dictionary
- dictionary is ordered and unindexed
- dictionary is a `key:value` pair system
- the key are always unique for a dict 
- the keys are only of immutable type (number, string, tuple)
- the values can be of any type
- represented by` { }`
- dictionary is mutable

In [1]:
x = [ 'Alex', 'Mason',22,'374632642',True,False] # unexplain info
std_mark_list = ['Ravi',90,'Kavi',30,'Janhvi',50,'Tanvi',20] # unlinkes info

In [2]:
dict_x = {
    'firstname':'Alex',
    'lastname':'Mason',
    'age':22,
    'phone':'9097872312',
    'working':True,
    'married':False
}
print(dict_x)

{'firstname': 'Alex', 'lastname': 'Mason', 'age': 22, 'phone': '9097872312', 'working': True, 'married': False}

In [3]:
std_mark_dict = {'Ravi':90,'Kavi':30,'Janhvi':50,'Tanvi':20}
std_mark_dict

{'Ravi': 90, 'Kavi': 30, 'Janhvi': 50, 'Tanvi': 20}

In [3]:
dict_x['firstname']

'Alex'

In [18]:
report = {
    'tanya':{
        'eng':60,
        'maths':90,
        'science':90,
    },
    'saif':{
        'eng':80,
        'maths':96,
        'science':86,
    },
    'bilal':{
        'eng':97,
        'maths':98,
        'science':94
    },
}
report

{'tanya': {'eng': 60, 'maths': 90, 'science': 90},
 'saif': {'eng': 80, 'maths': 96, 'science': 86},
 'bilal': {'eng': 97, 'maths': 98, 'science': 94}}

In [4]:
dict_x

{'firstname': 'Alex',
 'lastname': 'Mason',
 'age': 22,
 'phone': '9097872312',
 'working': True,
 'married': False}

#### adding data

In [5]:
dict_x['age'] = 23 # update value for exising key
dict_x

{'firstname': 'Alex',
 'lastname': 'Mason',
 'age': 23,
 'phone': '9097872312',
 'working': True,
 'married': False}

#### removing data

In [6]:
dict_x.pop('married')
dict_x

{'firstname': 'Alex',
 'lastname': 'Mason',
 'age': 23,
 'phone': '9097872312',
 'working': True}

In [7]:
dict_x.popitem() # remove last added items

('working', True)

In [8]:
x = {'a':'apple','b':'ball','c':'cat'}
y = {'d':'dog','e':'elephant','f':'fish'}

In [10]:
print(x)
print(y)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'d': 'dog', 'e': 'elephant', 'f': 'fish'}

In [11]:
x.update(y)
print(x)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'e': 'elephant', 'f': 'fish'}

### list with dict

In [12]:
x = {'a':'apple','b':'ball','c':'cat'}
y = {'d':'dog','e':'elephant','f':'fish'}
z = {'g':'goat','h':'horse','i':'icecream'}
abc = [x,y,z]
print(abc)

[{'a': 'apple', 'b': 'ball', 'c': 'cat'}, {'d': 'dog', 'e': 'elephant', 'f': 'fish'}, {'g': 'goat', 'h': 'horse', 'i': 'icecream'}]

In [13]:
data = [
    {'name':'Ravi','age':22},
    {'name':'Kavi','age':30},
    {'name':'Janhvi','age':50},
    {'name':'Tanvi','age':20}
]
data

[{'name': 'Ravi', 'age': 22},
 {'name': 'Kavi', 'age': 30},
 {'name': 'Janhvi', 'age': 50},
 {'name': 'Tanvi', 'age': 20}]

In [14]:
abc[0]['b']

'ball'

In [15]:
data[-1]['age']

20

In [20]:
report['saif']['science']

86

### Traversal or Looping

In [21]:
list(dict_x.keys())

['firstname', 'lastname', 'age', 'phone']

In [22]:
list(dict_x.values())

['Alex', 'Mason', 23, '9097872312']

In [23]:
list(dict_x.items())

[('firstname', 'Alex'),
 ('lastname', 'Mason'),
 ('age', 23),
 ('phone', '9097872312')]

In [24]:
# most useful
for k,v in dict_x.items():
    print(k,v)

firstname Alex
lastname Mason
age 23
phone 9097872312

In [25]:
for k in dict_x:
    print(k, dict_x[k])

firstname Alex
lastname Mason
age 23
phone 9097872312

### WAP to add details of 5 employees in a dict. The details are as follows

- firstname
- lastname
- empid
- desingnation
- doj
- basic_salary
- department
### then display their details after incrementing their salary by 9%

In [28]:
dict_emp = {
    '1st':{
        'first_name':'Bilal',
        'last_name':'Mirza',
        'empid':9648,
        'designation':'project manager',
        'doj':'2nd august 2022',
        'basic_salary':150000,
        'department':'IT cell'
    },
    '2nd':{
        'first_name':'Mohammad',
        'last_name':'Saifuddin',
        'empid':9649,
        'designation':'project manager assistent',
        'doj':'4th august 2022',
        'basic_salary':75000,
        'department':'IT cell'
    },
    '3rd':{
        'first_name':'Ali',
        'last_name':'Rehban',
        'empid':9650,
        'designation':'project emolyer',
        'doj':'5th august 2022',
        'basic_salary':50000,
        'department':'IT cell'
    },
    '4th':{
        'first_name':'Rahul',
        'last_name':'Singh',
        'empid':9651,
        'designation':'sales manager',
        'doj':'2nd august 2022',
        'basic_salary':150000,
        'department':'Sales'
    },
    '5th':{
        'first_name':'Virat',
        'last_name':'Verma',
        'empid':9652,
        'designation':'Sales manager assistent',
        'doj':'4th august 2022',
        'basic_salary':60000,
        'department':'Sales'
    }
        
    }
if(dict_emp[])

In [32]:
list(dict_emp.items())

[('1st',
  {'first_name': 'Bilal',
   'last_name': 'Mirza',
   'empid': 9648,
   'designation': 'project manager',
   'doj': '2nd august 2022',
   'basic_salary': 150000,
   'department': 'IT cell'}),
 ('2nd',
  {'first_name': 'Mohammad',
   'last_name': 'Saifuddin',
   'empid': 9649,
   'designation': 'project manager assistent',
   'doj': '4th august 2022',
   'basic_salary': 75000,
   'department': 'IT cell'}),
 ('3rd',
  {'first_name': 'Ali',
   'last_name': 'Rehban',
   'empid': 9650,
   'designation': 'project emolyer',
   'doj': '5th august 2022',
   'basic_salary': 50000,
   'department': 'IT cell'}),
 ('4th',
  {'first_name': 'Rahul',
   'last_name': 'Singh',
   'empid': 9651,
   'designation': 'sales manager',
   'doj': '2nd august 2022',
   'basic_salary': 150000,
   'department': 'Sales'}),
 ('5th',
  {'first_name': 'Virat',
   'last_name': 'Verma',
   'empid': 9652,
   'designation': 'Sales manager assistent',
   'doj': '4th august 2022',
   'basic_salary': 60000,
   'department': 'Sales'})]

In [6]:
 M ={}
 n = int(input("how many students?"))
 for a in range(n):
     r,m=eval(input("Enter Roll No.,Marks:"))
     M[r]= m 
print("Created dictionary")
print(M)

Created dictionary
{1: 25, 2: 35, 3: 67}

In [8]:
rno= []
marks= []
for a in range (4):
    r,m= eval(input('enter roll no, enter marks'))
    rno.append(r)
    marks.append(m)
d={rno[0]:marks[0], rno[1]:marks[1], rno[2]:marks[2], rno[3]:marks[3]}
print("created dictionary") 
print(d)

created dictionary
{1: 45, 2: 78, 3: 56, 4: 89}

In [10]:
phoneDict= {"innama":8303096213, "modi":123456789, "ram":234157689}
for name in phoneDict:
    print (name, ":", phoneDict[name])

innama : 8303096213
modi : 123456789
ram : 234157689