In [2]:
def check():
    print('This is a function')

In [3]:
check()

This is a function

In [4]:
check()
check()
check()
check()

This is a function
This is a function
This is a function
This is a function

In [7]:
x = [1,2,3,4,5]
x.reverse()
x

[5, 4, 3, 2, 1]

### parameterized

In [8]:
def divide(a,b,c):
    ans = a / b / c
    print(ans)

In [10]:
divide(1,2,3)

0.16666666666666666

##### its better to not use inputs in functions

In [12]:
a = int(input('>'))
b = int(input('>'))
c = int(input('>'))
divide(a,b,c)

0.125

In [13]:
L1 = [1,2,3,4,5,6,7,8,9]

In [14]:
def search(L1,n):
    for i in range (len(L1)):
        if L1[i] == n:
            return True
    return False  
search(L1,6)

True

In [15]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary * .09
    print(f"{old_salary}=>{new_salary}")

def update_travel_allowance(old_salary):
    new_salary = old_salary + old_salary * .05
    print(f"{old_salary}=>{new_salary}")

In [16]:
update_salary(20000)

20000=>21800.0

In [17]:
update_travel_allowance(2000)

2000=>2100.0

##### Returning value

In [18]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary * .09
    return new_salary

def update_travel_allowance(old_salary):
    new_salary = old_salary + old_salary * .05
    return new_salary

In [19]:
update_salary(20000)

21800.0

In [20]:
usal = update_salary(30000)

In [22]:
print(usal)

32700.0

In [23]:
update_salary(30000) * .15

4905.0

In [25]:
update_salary(update_travel_allowance(30000))

34335.0

- waf to check if a number is even or odd
- waf to remove all the vowels from a sequence passed as argument
- waf to find the second and third highest value in a list,list should be pass as argument

In [5]:
def check1(n):
    if (n % 2 == 0):
        print("even") 
    else:
        print("odd")    
check1(24)

even

In [26]:
def rem_vowels(string):
    newstr = string
    S = ['a','e','i','o','u','A','E','I','O','U']
    for z in string:
        if z in S :
            newstr = newstr.replace(z,"")
    return newstr       
rem_vowels('COmputer')

'Cmptr'

In [33]:
def _List(L1):
    length = len(L1)
    L1.sort()
    S = f"second largest number is {L1[length-2]}"
    T = f"third largest number is {L1[length-3]}"
    return S,T

In [34]:
_List([1,2,3,5,7,11,4,15,8])

('second largest number is 11', 'third largest number is 8')

`type of parameter settings in function`

- required
- named
- default
- args, kwargs

In [3]:
def add(a,b,c):
    return a + b + c

In [5]:
add(2,3,5)

10

In [6]:
print(add(a=1,b=2,c=3))
print(add(c=3,b=5,a=1))
print(add(10, c=5, b=5))

6
9
20

In [7]:
def addv2(a,b,c=0):
    return a + b + c

In [8]:
print(addv2(10,5))
print(addv2(10,5,23))
print(addv2(10,5,c=23))
print(addv2(b=10, a=5, c=23))

15
38
38
38

In [9]:
def addv3(a=0, b=0, c=0):
    return a + b + c

In [10]:
print(addv3())
print(addv3(21))
print(addv3(c=21))
print(addv3(a=2,c=21))
print(addv3(2,1))

0
21
21
23
3

In [11]:
def sum_of_evens(*numbers):
    if len(numbers) > 0:
        total = 0
        for val in numbers:
            if val % 2 == 0:
                total += val
        return total
    else:
        return 0

In [13]:
sum_of_evens(1,2,3,3,5,5,2,2,2,1,1,1,1,2,2,2,2,2,2,3)

20

In [14]:
def leap_year(x):
    if x % 4 == 0:
        return "leap year"
    else:
        return "not leap year"

In [17]:
leap_year(2020)

'leap year'