#### comprehension
#### lambda,map,reduce

In [5]:
# normal code
x = [1,2,3,4,5,6,7,8,9,10]
x10 = []
for i in x:
    out = i + 10
    x10.append(out)
print(x10)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

comprehension syntax
- simple
```
newlist = [opreation loop]
```
- conditional
```
newlist = [opertional loop condition]

# Simple

In [6]:
# pythonic
xinv10 = [i-10 for i in x]
print(xinv10)

[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [8]:
# xsqr = [?]
xsqr = [i*i for i in x]
print(xsqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# xsqr = [?]
xsqr = [i**2 for i in x]
print(xsqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Conditional

In [10]:
y = [1,2,3,4,5,6]
ysqr_even = []
for i in y:
    if i % 2 == 0:
        sqr = i ** 2
        ysqr_even.append(sqr)
print(ysqr_even)

[4, 16, 36]

In [12]:
ycube_odd = [i ** 3 for i in y if i % 2 != 0]
print(ycube_odd)

[1, 27, 125]

In [19]:
names = ['Kaladin stormblesses','Adolin Kholin','Shallan Dawar',]
surname = []
for name in names:
    sn = name.split()[-1] # select last word
    surname.append(sn)
print(surname)

['stormblesses', 'Kholin', 'Dawar']

In [20]:
firstname = [name.split()[-1] for name in names]
print(firstname)

['stormblesses', 'Kholin', 'Dawar']

In [3]:
emps = ['Suraj','Ali','Mohan','Vijay','Sujay','Murtuja','Elina','Alex','Manju','Ajay']
# emps that contain `n`` in their name`

In [4]:
emps_n =[]
for name in emps:
    if 'n' in name:
        emps_n.append(name)
print(emps_n)

['Mohan', 'Elina', 'Manju']

In [5]:
emps_u = [name for name in emps if 'n' in name]
print(emps_u)

['Mohan', 'Elina', 'Manju']

In [30]:
x = [1,2,3,4,5,6,]
y = [2,3,5,1,2,5]
# add x and y elements and put in z

In [31]:
z = []
for i in range(6):
    sum = x[i] + y[i]
    z.append(sum)
print(z)

[3, 5, 8, 5, 7, 11]

# Zip function

In [32]:
for i,j in zip(x,y):
    z.append(i+j)
print(z)

[3, 5, 8, 5, 7, 11, 3, 5, 8, 5, 7, 11]

In [35]:
z1 = [i+j for i,j in zip(x,y)]
print(z1)

[3, 5, 8, 5, 7, 11]

In [1]:
people = ['Rohan','Mohan','Sohan']
iq = [70,75,56]
age = [18,19,32]
for p,i,a in zip(people,iq,age):
    print(f'{p} has iq of {i} in the age of {a}')

Rohan has iq of 70 in the age of 18
Mohan has iq of 75 in the age of 19
Sohan has iq of 56 in the age of 32

In [2]:
people = ['Rohan','Mohan',]
iq = [70,75,56]
age = [18,19,32]
for p,i,a in zip(people,iq,age):
    print(f'{p} has iq of {i} in the age of {a}')

Rohan has iq of 70 in the age of 18
Mohan has iq of 75 in the age of 19