# sets
1. set can hold multiple values
2. set is mutable (add, remove item)
3. set is **unindexed and unorder**
4. set can have only **unique values**
5. set is represented by { } with comma seperated values
6. List can have mixed values inside it 
7. set can only hold **immutable values**
8. set can be nested

# what will you learn
- creation
- looping
- conversion
- function

In [1]:
y = {8,3,4,6,7,2,2,6}
print(y,type(y))

{2, 3, 4, 6, 7, 8} <class 'set'>

In [2]:
a = 10
b = 20
c = 'Hamon'
d = {a,b,c}
print(d)

{'Hamon', 10, 20}

In [3]:
x ={} # empty dictinory
xs = set() # empty set
print(type(x), type(xs))

<class 'dict'> <class 'set'>

In [4]:
z = {1,1,1,1,1,1,1,2,2,2,2,2,2,}
z

{1, 2}

In [5]:
names ={'Alex', 'John', 'Mary', 'Steve','John', 'Steve', 'Steve', 'Alex', 'alex'}
print(names)

{'Mary', 'John', 'Steve', 'Alex', 'alex'}

In [7]:
x = set('HelloWorld')
print(x)

{'H', 'W', 'd', 'l', 'o', 'e', 'r'}

In [8]:
x =set('Shakespear')
print(x)

{'s', 'p', 'a', 'k', 'h', 'S', 'e', 'r'}

In [9]:
x =set('encapsulation')
print(x)

{'s', 'p', 'a', 't', 'u', 'l', 'n', 'c', 'o', 'i', 'e'}

In [10]:
len(set('encapsulation')) == len('bilal')

False

In [12]:
# checking if all characters on a string are unique in one line of code 
len(set('bilal')) == len('bilal')

False

In [14]:
nums = set([1,2,3,4,5,6,7,8,9,10,1,1,2,2])
print(nums)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
for n in nums:
    print(n, end=' ')

1 2 3 4 5 6 7 8 9 10

In [17]:
for name in names:
    print(name, end=' ')

Mary John Steve Alex alex

In [18]:
for char in x:
    print(char , end=' ')

s p a t u l n c o i e

In [21]:
x = {1,2,"Hello",(1,2,3)}
x

{(1, 2, 3), 1, 2, 'Hello'}

In [22]:
a = [1,2,3]
a.remove(3)

In [23]:
x ={1,2,"uwuwuwuwu"}

list <-> set <-> tuple <-> list

In [24]:
x = [1,2,3,2,3,1]
xt = tuple(x)
xs = set(x)
print(x,xt,xs)

[1, 2, 3, 2, 3, 1] (1, 2, 3, 2, 3, 1) {1, 2, 3}

In [25]:
xl = list(xs)
print(xs, xl)

{1, 2, 3} [1, 2, 3]

#### Function
- adding values
    - add
    - update
- removing values
    - remove
    - discard
    - pop
    - clear
- set implementation
    - union
    - intersection
    - diffrence
    - symmetric difference
    - is_subset
    - is_disjoint

In [27]:
books = set()
books.add('Snowcrash')
books.add('A song of Ice and Fire')
books.add('The Great Gatsby')
books

{'A song of Ice and Fire', 'Snowcrash', 'The Great Gatsby'}

In [29]:
books.update(['Stormlight Archive', 'The Name of the Wind'])
books.update(('The Final Empire', 'The Well of Ascension'))
books

{'A song of Ice and Fire',
 'Snowcrash',
 'Stormlight Archive',
 'The Final Empire',
 'The Great Gatsby',
 'The Name of the Wind',
 'The Well of Ascension'}

In [31]:
books.remove('The Name of the Wind')
print(books)

{'A song of Ice and Fire', 'The Final Empire', 'Stormlight Archive', 'The Well of Ascension', 'Snowcrash', 'The Great Gatsby'}

In [33]:
books.discard('The fine of the wind') # does not raise an error if the item is not in the set

In [34]:
books.discard('The Great Gatsby')
print(books)

{'A song of Ice and Fire', 'The Final Empire', 'Stormlight Archive', 'The Well of Ascension', 'Snowcrash'}

In [35]:
books.pop() # remove and returns an arbitary item

'A song of Ice and Fire'

In [36]:
books.clear()

In [37]:
books

set()

In [38]:
s1 = {1,2,3,4,5,7,8}
s2 = {4,5,6,7,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [40]:
s1 | s2 # pipe used to perform union

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
s1.intersection(s2)

{4, 5, 7, 8}

In [43]:
s1 & s2 # pipe used to perform intersection

{4, 5, 7, 8}

In [44]:
s3 = {11,12,13,14,15,16,17}
s4 = {9,0,8,2,5}

In [47]:
s1.difference(s2) # s1 unique values

{1, 2, 3}

In [48]:
s2.difference(s1) # s2 unique values

{6}

In [50]:
s2.difference(s3) # s2 unique values

{4, 5, 6, 7, 8}

In [51]:
s1 - s2 # - used to perform difference

{1, 2, 3}

In [52]:
s2 - s4

{4, 6, 7}

In [53]:
s1.symmetric_difference(s2) # s1 and s2 unique values only

{1, 2, 3, 6}

In [54]:
s2 ^ s3 # used to perform symmetric diffrence

{4, 5, 6, 7, 8, 11, 12, 13, 14, 15, 16, 17}

In [55]:
s1 = {1,2,3,4,5,6,7,8,9,10}
s2 = {1,2,3}
s3 = {11,12,13}
s4 = {11,13,5}

In [56]:
s1.issuperset(s2) # s1 is superset of s2

True

In [57]:
s2.issubset(s3)

False

In [58]:
s1.isdisjoint(s3)

True

# student queries

In [10]:
# total bill question

In [2]:
text = '     this is not a good string     '
" ".join(text.split())

'this is not a good string'

In [3]:
text.strip()

'this is not a good string'