# String functions

- formating
- validation
- utility

In [1]:
x = 29032
a = 'laptop'
c = 'cosumener id'

In [2]:
print("the {} was purchased via {} = {}".format(a,c,x))

the laptop was purchased via cosumener id = 29032

In [3]:
print(f'the {a} was purchased via {c} = {x}')

the laptop was purchased via cosumener id = 29032

In [4]:
quote = "Life before Death, Hope before Despair, journey before Destination"

In [5]:
quote.lower()

'life before death, hope before despair, journey before destination'

In [6]:
quote.casefold()

'life before death, hope before despair, journey before destination'

In [7]:
quote.title()

'Life Before Death, Hope Before Despair, Journey Before Destination'

In [11]:
quote.capitalize()

'Life before death, hope before despair, journey before destination'

In [12]:
quote.swapcase()

'lIFE BEFORE dEATH, hOPE BEFORE dESPAIR, JOURNEY BEFORE dESTINATION'

In [13]:
a

'laptop'

In [16]:
a.ljust(50)

'laptop                                            '

In [17]:
a.rjust(50)

'                                            laptop'

In [18]:
a.center(50)

'                      laptop                      '

In [19]:
for i in range(5,15):
    print(i,i**10)

5 9765625
6 60466176
7 282475249
8 1073741824
9 3486784401
10 10000000000
11 25937424601
12 61917364224
13 137858491849
14 289254654976

In [21]:
for i in range(5,15):
    print(str(i).ljust(5),str(i**10).rjust(15))

5             9765625
6            60466176
7           282475249
8          1073741824
9          3486784401
10        10000000000
11        25937424601
12        61917364224
13       137858491849
14       289254654976

In [23]:
x = "word"
x.isalpha()

True

In [24]:
print(quote)
quote.isalpha()

Life before Death, Hope before Despair, journey before Destination

False

In [25]:
x.isascii()

True

In [26]:
x

'word'

In [27]:
".isascii()"

'.isascii()'

# Wap to remove all the vowels

In [31]:
junk ="my name is Bilal"
vowels ="aeiouAEIOU"
for vowel in vowels:
    junk = junk.replace(vowel," ")
print(junk)

my n m   s B l l

# Wap to program to replace special chracters with _

In [34]:
demo = "bilal*$mirza0522@gmail.com"
speical_char = "!@#$%^&*()_"
for special in speical_char:
    demo = demo.replace(special,"_")
print(demo)

bilal__mirza0522_gmail.com

In [35]:
quote.split()

['Life',
 'before',
 'Death,',
 'Hope',
 'before',
 'Despair,',
 'journey',
 'before',
 'Destination']

In [36]:
str2 ="hi,i,am,bilal"

In [37]:
str2.split()

['hi,i,am,bilal']

In [41]:
li1= str2.split(",")
print("we have",len(li1),"words in str2")

we have 4 words in str2

In [42]:
quote

'Life before Death, Hope before Despair, journey before Destination'

In [43]:
quote.split("e")

['Lif',
 ' b',
 'for',
 ' D',
 'ath, Hop',
 ' b',
 'for',
 ' D',
 'spair, journ',
 'y b',
 'for',
 ' D',
 'stination']

In [8]:
message = "this is a place where we have written a message. this is a place where we more messages"

In [9]:
message.count("a")

8

In [10]:
message.count('plant')

0

In [11]:
message.count('place')

2

# alphabet counter

In [12]:
for char in "abcdefghijklmnopqrstuvwxyz":
    print(f"{char} : {message.count(char)}")

a : 8
b : 0
c : 2
d : 0
e : 15
f : 0
g : 2
h : 5
i : 5
j : 0
k : 0
l : 2
m : 3
n : 1
o : 1
p : 2
q : 0
r : 4
s : 9
t : 4
u : 0
v : 1
w : 5
x : 0
y : 0
z : 0

In [13]:
for char in "abcdefghijklmnopqrstuvwxyz":
    count = message.count(char)
    if count> 0:
        print(f"{char} : {message.count(char)}")

a : 8
c : 2
e : 15
g : 2
h : 5
i : 5
l : 2
m : 3
n : 1
o : 1
p : 2
r : 4
s : 9
t : 4
v : 1
w : 5

In [14]:
len(message.split())

18

# word counter

In [15]:
unique_words = set(message.split()) # set is used to get only unique values
print(unique_words)

{'messages', 'have', 'message.', 'this', 'is', 'written', 'we', 'a', 'where', 'more', 'place'}

In [19]:
for word in unique_words:
    word_list = message.split()
    wc = word_list.count(word)
    print (f"{word} -> {wc}")

messages -> 1
have -> 1
message. -> 1
this -> 2
is -> 2
written -> 1
we -> 2
a -> 3
where -> 2
more -> 1
place -> 2

In [29]:
"this is sparta ".split()

['this', 'is', 'sparta']

In [30]:
q ="The only step a person can take is, the next step"

In [31]:
q.find('person')

16

In [35]:
q.find('only')

4

In [33]:
q.find('step')

9

In [34]:
q.rfind('step')

45

# Program to check if the data provided by the user is numeric or not ,if its numeric, convert it to int else check if it contains any numbers and extract that numbers

In [40]:
data = input("enter a data:")
if data.isnumeric():
    num = int(data)
    print("number:",num)
else:
    temp = "" # no space
    for c in data:
        if c.isnumeric():
            temp+=c
    num = int(temp)
    print("extracted number:",num)

number: 9648

# remove all the punctuations from the following string
@@Hello#! ^%%!@Wo*(){}rld!!!

In [45]:
from string import punctuation

In [43]:
code = "@@Hello#! ^%%!@Wo*(){}rld!!!"
for punc in punctuation:
    code = code.replace(punc,"")
print(code)

Hello World