In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
page = "https://www.imdb.com/chart/boxoffice/"
response = requests.get(page)
soup = BeautifulSoup(response.text, 'lxml')
print('data is loaded')

data is loaded

In [4]:
target = soup.find('table',attrs={'class':'chart'}).tbody

In [5]:
rows = target.find_all('tr')
len(rows)

10

In [6]:
movies = []
for row in rows:
    title = row.find('td',attrs={'class':'titleColumn'})
    weekend = row.find('td',attrs={'class':'ratingColumn'})
    gross = row.find_all('td',attrs={'class':'ratingColumn'})[-1]
    week = row.find('td',attrs={'class':'weeksColumn'})
    movies.append({
        'title': title.text.strip(),
        'weekend': weekend.text.strip(),
        'gross': gross.text.strip(),
        'week': week.text.strip(),
    })
data = pd.DataFrame(movies)
data.to_csv('box_office.csv',index=False)

In [7]:
pd.read_csv('box_office.csv')

                                         title  weekend    gross  week
0                       Thor: Love and Thunder  $144.2M  $144.2M     1
1                     Minions: The Rise of Gru   $46.1M  $210.7M     2
2                            Top Gun: Maverick   $15.5M  $597.4M     7
3                                        Elvis   $11.2M   $91.3M     3
4                      Jurassic World Dominion    $8.6M  $350.5M     5
5                              The Black Phone    $7.8M   $62.4M     3
6                                    Lightyear    $3.1M  $112.5M     4
7               Marcel the Shell with Shoes On    $322K    $946K     3
8                           Mr. Malcolm's List    $255K    $1.6M     2
9  Doctor Strange in the Multiverse of Madness    $246K  $411.0M    10